### No coding in chapter one

# CHAPTER 2

## Algorithm Workbench

In [29]:
age = int(input("Please enter your age: "))

Please enter your age: 18

In [30]:
color = input("Enter you favorite color: ")

Enter you favorite color: red

In [31]:
a = int(input("Enter a value:"))
b = 2*a
a = b*4
b = a/4
a = b-8
print(a , b)

Enter a value:23
38.0 46.0

In [32]:
w = 5; x = 4; y= 8; z = 2
result = x + y
print(result)
result = z*2
print(result)
result = y/x
print(result)
result = y-z
print(result)
result = w//z
print(result)

12
4
2.0
6
2

In [33]:
product = 10*15
print(product)

150

In [34]:
down_payment = 200
total = 2000
due = total-down_payment
print(due)

1800

In [35]:
subtotal = 200
total = subtotal * 0.15
print("Your total is ",total)

Your total is  30.0

In [36]:
a = 5; b = 2; c = 3
result = a + b * c
print(result)

11

In [37]:
num = 99; num = 5
print(num)

5

In [38]:
sales = float(200)
print(format(sales, '.2f'))

200.00

In [39]:
number = 1234567.456
print(format(number,',.2f'))

1,234,567.46

In [40]:
print('X\tO\tX\nO\tX\tO\nX\tO\tX\n')

X	O	X
O	X	O
X	O	X

In [41]:
import turtle
turtle.circle(75)

In [42]:
import turtle
turtle.fillcolor("blue")
turtle.begin_fill()
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.end_fill()

In [62]:
import turtle
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.penup()

turtle.fillcolor("blue")
turtle.begin_fill()
turtle.goto(0, 50)
turtle.pendown()
turtle.circle(80)
turtle.end_fill()

## Programming Exercises

In [44]:
print("My name is Kalu Gift Nneoma.")
print("I live in Number 22 Onwufuju street, Isolo, Lagos, Zip-11011")
print("My phone number is 0800000000")
print("I am a Computer science student")

My name is Kalu Gift Nneoma.
I live in Number 22 Onwufuju street, Isolo, Lagos, Zip-11011
My phone number is 0800000000
I am a Computer science student

In [45]:
sales = float(input("Enter the projected total sales amount: "))
profit = 0.23 * sales
print("The profit that would be made is ", profit)

Enter the projected total sales amount: 3400
The profit that would be made is  782.0

In [47]:
mass_in_pounds = float(input("Enter that value of the mass in pounds: "))
mass_in_kg = mass_in_pounds * 0.454
print("The kilogram eqiuivalent of this is", mass_in_kg)

Enter that value of the mass in pounds: 450
The kilogram eqiuivalent of this is 204.3

In [48]:
item1 = float(input("Enter price of the first item: "))
item2 = float(input("Enter price of the second item: "))
item3 = float(input("Enter price of the third item: "))
item4 = float(input("Enter price of the fourth item: "))
item5 = float(input("Enter price of the fifth item: "))
subtotal = item1 + item2 + item3 + item4 + item5
tax = 0.07 * subtotal
print("Your subtotal is ", subtotal, "with a tax of ", tax, ". This comes out to ", subtotal+tax)

Enter price of the first item: 23
Enter price of the second item: 12
Enter price of the third item: 67
Enter price of the fourth item: 34
Enter price of the fifth item: 90
Your subtotal is  226.0 with a tax of  15.820000000000002 . This comes out to  241.82

In [49]:
speed = 70

time = 6
print("You travelled", speed * time , "miles.")

time = 10
print("You travelled", speed * time , "miles.")

time = 15
print("You travelled", speed * time , "miles.")

You travelled 420 miles.
You travelled 700 miles.
You travelled 1050 miles.

In [50]:
purchase = float(input("Enter the price of your purchase: "))
installments = int(input("Enter the number of installments: "))
each_installment = ((0.05*purchase) + purchase)/installments
print("Each installment will cost ", each_installment)

Enter the price of your purchase: 2500
Enter the number of installments: 6
Each installment will cost  437.5

In [51]:
miles_driven = float(input("Enter the number of miles you drove: "))
gallons_of_gas = float(input("Enter the number of gallons of gas you used: "))
print("Your number of miles per gas is ", miles_driven / gallons_of_gas)

Enter the number of miles you drove: 120
Enter the number of gallons of gas you used: 23
Your number of miles per gas is  5.217391304347826

In [52]:
price = float(input("Enter the price of the meal: "))
tip = 0.18 * price
tax = 0.07 * price
print("Your total fee is ", price+tip+tax)

Enter the price of the meal: 1200
Your total fee is  1500.0

In [53]:
radius = float(input("Enter radius value: "))
print("The area of this circle is ", 3.14159 * radius *radius)
print("The circumference of this circle is ", 2*3.14159 *radius)

Enter radius value: 7
The area of this circle is  153.93791
The circumference of this circle is  43.98226

In [54]:
sugar_per_cookie = 1.5 / 48
butter_per_cookie = 1.0 / 48
flour_per_cookie = 2.75 / 48

desired_cookies = int(input("How many cookies do you want to make? "))

sugar_amount = sugar_per_cookie * desired_cookies
butter_amount = butter_per_cookie * desired_cookies
flour_amount = flour_per_cookie * desired_cookies

print("For this amount of cookies, you need:")
print(f"Sugar: {sugar_amount:.2f} cups")
print(f"Butter: {butter_amount:.2f} cups")
print(f"Flour: {flour_amount:.2f} cups")

How many cookies do you want to make? 12
For this amount of cookies, you need:
Sugar: 0.38 cups
Butter: 0.25 cups
Flour: 0.69 cups

In [55]:
boys = int(input("How many boys are there in the class: "))
girls = int(input("How many girls are there in the class: "))
total = boys + girls
print("The boys form", (boys/total) * 100, "percent of the class")
print("The girls form", (girls/total) * 100, "percent of the class")

How many boys are there in the class: 12
How many girls are there in the class: 23
The boys form 34.285714285714285 percent of the class
The girls form 65.71428571428571 percent of the class

In [56]:
no_of_shares = 2000
pay_per_share = 40
total_shares_price = no_of_shares * pay_per_share
commission = 0.03 * total_shares_price

sold_shares = 2000
sell_per_share = 42.72
price_sold = sold_shares * sell_per_share
sell_commission = 0.03 * price_sold

money_left = price_sold - (total_shares_price + commission + sell_commission)

print("Joe paid", total_shares_price)
print("The commision he gave the broker is", commission)
print("Joe sold the shares for", price_sold)
print("He paid the broker",sell_commission,"after he sold it")
print("He has", format(money_left ,'.2f'), "$ left.")

Joe paid 80000
The commision he gave the broker is 2400.0
Joe sold the shares for 85440.0
He paid the broker 2563.2 after he sold it
He has 476.80 $ left.

In [58]:
R = int(input("Enter the length of the row as R value: "))
E = int(input("Enter the amount of space in feet as E value: "))
S = int(input("Enter the space between the vines as S value: "))
V = (R-(2*E)/S)
print("The number of grapevines that will fit in the row is", V)

Enter the length of the row as R value: 134
Enter the amount of space in feet as E value: 2
Enter the space between the vines as S value: 23
The number of grapevines that will fit in the row is 133.82608695652175

In [59]:
import math
P = float(input("Enter the Principal value deposited: "))
r = float(input("Enter the annual rate: "))
n = float(input("Enter the number of times the interest is compounded: "))
t = float(input("Enter the number of years: "))
A = P*(1 + (pow((r/n),(n*t))))
print("The ammount accurred over", t,"years is" , A)

Enter the Principal value deposited: 89000
Enter the annual rate: 4
Enter the number of times the interest is compounded: 5
Enter the number of years: 8
The ammount accurred over 8.0 years is 89011.8301291625

# CHAPTER 3

## Algorithm Workbench

In [1]:
x = int(input("Enter x number: "))
if(x>100):
    y = 20
    z = 40

Enter x number: 34

In [2]:
a = int(input("Enter a number: "))
if(a==100):
    b = 10
    c = 50

Enter a number: 100

In [3]:
a = int(input("Enter a number: "))
if(x<10):
    b = 0
else:
    b =99

Enter a number: 8

In [4]:
score = 200

if score >= 70:
    print('Your grade is A.')
elif score >= 60:
    print('Your grade is B.')
elif score >= 50:
    print('Your grade is C.')
elif score >= 40:
    print('Your grade is D.')
else:
    print('Your grade is F.')

Your grade is A.

In [5]:
amount1 = float(input("Enter amount 1: "))
amount2 = float(input("Enter amount 2: "))
if(amount1 > 10) and (amount2 <100):
    if(amount1>amount2):
        print(amount1, "is greater.")
    elif(amount2 > amount1):
        print(amount2, "is greater")

Enter amount 1: 23
Enter amount 2: 34
34.0 is greater

In [7]:
score = int(input("Enter score: "))
if(score>=40)and (score<=49):
    print("again = True")
else:
    print("again = False")

Enter score: 23
again = False

In [8]:
score = int(input("Enter score: "))
if(score<9)or (score>51):
    print("Invalid points")
else:
    print("Valid points")

Enter score: 34
Valid points

## Programming Exercise

In [9]:
num = int(input("Enter the number: "))
if(num>0):
    print("Positive")
elif(num<0):
    print("Negative")
elif(num==0):
    print("Zero")
if(num%2 == 0):
    print("Even")
else:
    print("Odd")

Enter the number: 34
Positive
Even

In [10]:
length1 = float(input("Enter the length of first rectangle: "))
width1 = float(input("Enter the width of first rectangle: "))
length2 = float(input("Enter the length of second rectangle: "))
width2 = float(input("Enter the width of second rectangle: "))
area1 = length1*width1
area2 = length2*width2
if(area1>area2):
    print("rectangle 1 is greater in area")
elif(area1<area2):
    print("rectangle 2 has greater area")

Enter the length of first rectangle: 12
Enter the width of first rectangle: 34
Enter the length of second rectangle: 78
Enter the width of second rectangle: 2
rectangle 1 is greater in area

In [11]:
month = int(input("Enter the month number between 1 to 12: "))
if(month>=1 and month<=3):
    print("This is the first quater")
elif(month>=4 and month<=6):
    print("This is the second quater")
elif(month>=7 and month<=9):
    print("This is the third quater")
elif(month>=10 and month<=12):
    print("This is the fourth quater")
else:
    print("Error! Invalid month number")

Enter the month number between 1 to 12: 2
This is the first quater

In [12]:
number = int(input("Enter a number within the range of 1 through 10: "))

if 1 <= number <= 10:
        if number == 1:
            roman_numeral = 'I'
        elif number == 2:
            roman_numeral = 'II'
        elif number == 3:
            roman_numeral = 'III'
        elif number == 4:
            roman_numeral = 'IV'
        elif number == 5:
            roman_numeral = 'V'
        elif number == 6:
            roman_numeral = 'VI'
        elif number == 7:
            roman_numeral = 'VII'
        elif number == 8:
            roman_numeral = 'VIII'
        elif number == 9:
            roman_numeral = 'IX'
        else:  # number == 10
            roman_numeral = 'X'
        print(f"The Roman numeral for {number} is: {roman_numeral}")
else:
        print("Error: Please enter a number within specified range.")

Enter a number within the range of 1 through 10: 6
The Roman numeral for 6 is: VI

In [13]:
mass = float(input("Enter the mass: "))
weight = mass * 9.8

if weight >500:
    print("Too heavy!")
elif weight < 100:
    print("Too light!")

Enter the mass: 3345
Too heavy!

In [14]:
month = int(input("Enter a month number: "))
day = int(input("Enter a day number: "))
year = int(input("Enter two digit year: "))
if(month*day == year):
    print("Tis a magic day!")
else:
    print("Tis NOT a magic day!")

Enter a month number: 23
Enter a day number: 3
Enter two digit year: 26
Tis NOT a magic day!

In [15]:
test1 = int(input("Enter points for Test 1 (out of 25): "))
test2 = int(input("Enter points for Test 2 (out of 25): "))
exam = int(input("Enter points for Main Exam (out of 50): "))

if 0 <= test1 <= 25 and 0 <= test2 <= 25 and 0 <= exam <= 50:
    total_points = test1 + test2 + exam

    if total_points >= 50 and exam >= 25:
        if total_points > 80:
            grade = "Distinction"
        elif 60 <= total_points <= 80:
            grade = "Credit"
        else:
                grade = "Pass"
    else:
        grade = "Fail"

    print("Total Points", total_points)
    print("Grade:" ,grade)
else:
    print("Error: Invalid points entered.")

Enter points for Test 1 (out of 25): 24
Enter points for Test 2 (out of 25): 17
Enter points for Main Exam (out of 50): 30
Total Points 71
Grade: Credit

In [16]:
people = int(input("Enter the number of expected guests: "))
hdogs = int(input("Enter the amount hotdogs each guest gets: "))
total_hotdogs= people * hdogs

print("You will need",total_hotdogs//10 ,"packets of hotdogs")
print("You will need",total_hotdogs//8 ,"buns.")
print("You will have",total_hotdogs%10 , "hotdogs left")
print("You will have",total_hotdogs%8 , "buns left")

Enter the number of expected guests: 34
Enter the amount hotdogs each guest gets: 3
You will need 10 packets of hotdogs
You will need 12 buns.
You will have 2 hotdogs left
You will have 6 buns left

In [17]:
pocket_number = int(input("Enter a pocket number (0 through 36): "))

if 0 <= pocket_number <= 36:
    if pocket_number == 0:
        color = "Green"
    elif 1 <= pocket_number <= 10 or 19 <= pocket_number <= 28:
        if pocket_number % 2 == 1 :
            color = "Red" 
        else:
            color ="Black"
    else:
        if pocket_number % 2 == 1:
             color = "Black" 
        else:
            color = "Red"

    print(f"The pocket {pocket_number} is {color}.")
else:
    print("Error: Please enter a number in range.")

Enter a pocket number (0 through 36): 32
The pocket 32 is Red.

In [18]:
penny = 0.01
nickel = 0.05
dime = 0.10
quater = 0.25

upennies = int(input("Enter the no of pennies: "))
unickels = int(input("Enter the no of nickels: "))
udimes = int(input("Enter the no of dimes: "))
uquarters = int(input("Enter the no of quarters: "))

total_value = (upennies * penny) + (unickels * nickel) + (udimes * dime) + (uquarters * quater)

if total_value == 1.00:
    print("Congratulations! You've won the game.")
elif total_value > 1.00:
    print(f"Sorry, the amount entered (${total_value:.2f}) is more than one dollar.")
else:
    print(f"Sorry, the amount entered (${total_value:.2f}) is less than one dollar.")

Enter the no of pennies: 12
Enter the no of nickels: 23
Enter the no of dimes: 33
Enter the no of quarters: 78
Sorry, the amount entered ($24.07) is more than one dollar.

In [19]:
 book_number = int(input("Enter the number of books you have purchased: "))
if book_number == 0:
    points = 0
elif book_number == 2:
    points = 5
elif book_number == 4:
    points = 15
elif book_number == 6:
    points = 30
elif book_number >= 8:
    points = 60

print(f"You have purchased {book_number} books so you get {points} points!")

Enter the number of books you have purchased: 12
You have purchased 12 books so you get 60 points!

In [20]:
price = 99

quantity_purchased = int(input("Enter the number of packages purchased: "))

total_cost = quantity_purchased * price

if 10 <= quantity_purchased <= 19:
    discount = 0.10*total_cost
elif 20 <= quantity_purchased <= 49:
    discount = 0.20*total_cost
elif 50 <= quantity_purchased <= 99:
    discount = 0.30*total_cost
elif quantity_purchased >= 100:
    discount = 0.40*total_cost
else:
    discount = 0  
    
final_amount = total_cost - discount


print(f"Discount Amount: ${discount:.2f}")
print(f"Total after Discount: ${final_amount:.2f}")

Enter the number of packages purchased: 12
Discount Amount: $118.80
Total after Discount: $1069.20

In [21]:
weight = float(input("Enter the weight of the package in pounds: "))


if weight <= 2:
    shipping = 1.50 * weight
elif weight <= 6:
    shipping = 3.00 * weight
elif weight <= 10:
    shipping = 4.00 * weight
else:
    shipping = 4.75 * weight

print(f"\nShipping Charges of a {weight:.2f}-pound package is ${shipping:.2f}")

Enter the weight of the package in pounds: 12

Shipping Charges of a 12.00-pound package is $57.00

In [22]:
weight = float(input("Enter your weight in pounds: "))
height = float(input("Enter your height in inches: "))

bmi = (weight * 703) / (height ** 2)

print(f"\nYour Body Mass Index (BMI) is: {bmi:.2f}")

if 18.5 <= bmi <= 25:
    print("Your weight is considered optimal.")
elif bmi < 18.5:
    print("You are considered underweight.")
else:
    print("You are considered overweight.")

Enter your weight in pounds: 23
Enter your height in inches: 12

Your Body Mass Index (BMI) is: 112.28
You are considered overweight.

In [25]:
total_seconds = int(input("Enter the number of seconds: "))

days = total_seconds // 86400
remaining_seconds = total_seconds % 86400
hours = remaining_seconds // 3600
remaining_seconds %= 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60

print(f"\n{total_seconds} seconds is equivalent to:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")
print(f"Seconds: {seconds}")

Enter the number of seconds: 12345678880

12345678880 seconds is equivalent to:
Days: 142889
Hours: 19
Minutes: 14
Seconds: 40

In [26]:
year = int(input("Enter a year: "))

if (year % 100 == 0 and year % 400 == 0) or (year % 100 != 0 and year % 4 == 0):
    days = 29
else:
    days = 28

print(f"In the year {year}, February has {days} days.")

Enter a year: 2024
In the year 2024, February has 29 days.

In [28]:
print("Reboot the computer and try to connect: ")
ans1 = input("Did that fix the problem? ").lower()
if ans1 == "no":
    print("Reboot the router and try to connect.")
    ans2 = input("Did that solve the problem? ").lower()
    if ans2 == "no":
        print("Make sure the cable between the router and modem are plugged in firmly.")
        ans3 = input("Did that fix the problem? ").lower()
        if ans3 == "no":
            print("Move the router tpo a new location and try to reconnect.")
            ans4 = input("Did that fix the problem? ").lower()
            if ans4 == "no":
                print("Get a new router!")
            else:
                print("Wheww! Bless God!")
        else:
            print("Bless God")
    else:
        print("Bless God")
else: 
    print("Bless God")

Reboot the computer and try to connect:
Did that fix the problem? no
Reboot the router and try to connect.
Did that solve the problem? no
Make sure the cable between the router and modem are plugged in firmly.
Did that fix the problem? no
Move the router tpo a new location and try to reconnect.
Did that fix the problem? no
Get a new router!

# CHAPTER 4

## algorithm workbench

In [1]:
number = float(input("Enter a number: "))
product = number * 10

while product < 100:
    print(f"Product: {product}")
    number = float(input("Enter another number: "))
    product = number * 10

Enter a number: 8
Product: 80.0
Enter another number: 3
Product: 30.0
Enter another number: 10

In [2]:
while True:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    total = num1 + num2
    print(f"Sum: {total}")

    repeat = input("Do you want to perform the operation again? (yes/no): ")
    if repeat.lower() != 'yes':
        break

Enter the first number: 2
Enter the second number: 3
Sum: 5.0
Do you want to perform the operation again? (yes/no): no

In [3]:
for num in range(1, 101, 2):
    print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [4]:
text = ""
while len(text) < 10:
    word = input("Enter a word: ")
    text += word
    print(f"Text: {text}")

Enter a word: gift
Text: gift
Enter a word: icecreamandfish
Text: gifticecreamandfish

In [28]:
total = 0

for i in range(1, 31):
    total += i / (31 - i)

print(f"The total of the series is: {total:.4f}")

The total of the series is: 93.8446

In [10]:
x=int(input("enter x: "))
x += 1
x *= 2
x /= 10
x -= 100

enter x: 10

In [11]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [13]:
while True:
    number = float(input("Enter a positive nonzero number: "))
    if number > 0:
        break

Enter a positive nonzero number: -4
Enter a positive nonzero number: 0
Enter a positive nonzero number: 4

In [14]:
while True:
    number = int(input("Enter a number between 1 and 100: "))
    if 1 <= number <= 100:
        break

Enter a number between 1 and 100: -90
Enter a number between 1 and 100: 34

## programming exercises

In [15]:
total_bugs = 0

for day in range(1, 6):
    bugs_collected = int(input(f"Enter the number of bugs collected on day {day}: "))
    total_bugs += bugs_collected

print(f"Total bugs collected in 5 days: {total_bugs}")

Enter the number of bugs collected on day 1: 2
Enter the number of bugs collected on day 2: 3
Enter the number of bugs collected on day 3: 4
Enter the number of bugs collected on day 4: 5
Enter the number of bugs collected on day 5: 6
Total bugs collected in 5 days: 20

In [16]:
calories_burned_per_minute = 4.2

for minutes in [10, 15, 20, 25, 30]:
    calories_burned = calories_burned_per_minute * minutes
    print(f"After {minutes} minutes, you burned {calories_burned} calories.")

After 10 minutes, you burned 42.0 calories.
After 15 minutes, you burned 63.0 calories.
After 20 minutes, you burned 84.0 calories.
After 25 minutes, you burned 105.0 calories.
After 30 minutes, you burned 126.0 calories.

In [17]:
num_laps = int(input("Enter the number of laps: "))

fastest_lap = float('inf')
slowest_lap = 0
total_time = 0

for lap in range(1, num_laps + 1):
    lap_time = float(input(f"Enter the lap time for lap {lap} (in seconds): "))
    total_time += lap_time

    if lap_time < fastest_lap:
        fastest_lap = lap_time

    if lap_time > slowest_lap:
        slowest_lap = lap_time

average_lap_time = total_time / num_laps

print(f"Fastest Lap: {fastest_lap} seconds")
print(f"Slowest Lap: {slowest_lap} seconds")
print(f"Average Lap Time: {average_lap_time} seconds")

Enter the number of laps: 2
Enter the lap time for lap 1 (in seconds): 2.34
Enter the lap time for lap 2 (in seconds): 4.56
Fastest Lap: 2.34 seconds
Slowest Lap: 4.56 seconds
Average Lap Time: 3.4499999999999997 seconds

In [29]:

speed = float(input("What is the speed of the vehicle in mph? "))
num_hours = int(input("How many hours has it traveled? "))

print("Hour   Distance Traveled")
print("------------------------")

for hour in range(1, num_hours + 1):
    distance = speed * hour
    print(f"{hour:2}     {distance}")

What is the speed of the vehicle in mph? 40
How many hours has it traveled? 3
Hour   Distance Traveled
------------------------
 1     40.0
 2     80.0
 3     120.0

In [18]:
total_months = 0
total_rainfall = 0

num_years = int(input("Enter the number of years: "))

for year in range(1, num_years + 1):
    for month in range(1, 13):
        rainfall = float(input(f"Enter inches of rainfall for Year {year}, Month {month}: "))
        total_rainfall += rainfall
        total_months += 1

average_rainfall = total_rainfall / total_months

print(f"Number of Months: {total_months}")
print(f"Total Inches of Rainfall: {total_rainfall}")
print(f"Average Rainfall per Month: {average_rainfall:.2f} inches")

Enter the number of years: 2
Enter inches of rainfall for Year 1, Month 1: 2
Enter inches of rainfall for Year 1, Month 2: 3
Enter inches of rainfall for Year 1, Month 3: 3
Enter inches of rainfall for Year 1, Month 4: 4
Enter inches of rainfall for Year 1, Month 5: 5
Enter inches of rainfall for Year 1, Month 6: 6
Enter inches of rainfall for Year 1, Month 7: 2
Enter inches of rainfall for Year 1, Month 8: 3
Enter inches of rainfall for Year 1, Month 9: 4
Enter inches of rainfall for Year 1, Month 10: 5
Enter inches of rainfall for Year 1, Month 11: 2
Enter inches of rainfall for Year 1, Month 12: 3
Enter inches of rainfall for Year 2, Month 1: 4
Enter inches of rainfall for Year 2, Month 2: 5
Enter inches of rainfall for Year 2, Month 3: 5
Enter inches of rainfall for Year 2, Month 4: 2
Enter inches of rainfall for Year 2, Month 5: 2
Enter inches of rainfall for Year 2, Month 6: 3
Enter inches of rainfall for Year 2, Month 7: 4
Enter inches of rainfall for Year 2, Month 8: 5
Enter inches of rainfall for Year 2, Month 9: 4
Enter inches of rainfall for Year 2, Month 10: 2
Enter inches of rainfall for Year 2, Month 11: 3
Enter inches of rainfall for Year 2, Month 12: 1
Number of Months: 24
Total Inches of Rainfall: 82.0
Average Rainfall per Month: 3.42 inches

In [19]:
miles_increment = 10
miles_start = 10
miles_end = 80

print("Miles   Kilometers")

for miles in range(miles_start, miles_end + 1, miles_increment):
    kilometers = miles * 1.60934
    print(f"{miles:5}   {kilometers:.2f}")

Miles   Kilometers
   10   16.09
   20   32.19
   30   48.28
   40   64.37
   50   80.47
   60   96.56
   70   112.65
   80   128.75

In [ ]:
num_days = int(input("Enter the number of days: "))
total_pay = 0.01

print("Day     Salary")
print("----------------")

for day in range(2, num_days + 1):
    total_pay += 0.01 * 2**(day - 1)
    print(f"{day:2}      ${total_pay:.2f}")

In [20]:
total_length = 0
total_words = 0

while True:
    word = input("Enter a word (press Enter to end): ")
    if not word:
        break
    total_length += len(word)
    total_words += 1

average_length = round(total_length / total_words)

print(f"Average Word Length: {average_length}")

Enter a word (press Enter to end): gift
Enter a word (press Enter to end): giuu
Enter a word (press Enter to end):
Average Word Length: 4

In [21]:
ocean_rise_rate = 1.6
num_years = 25

print("Year    Ocean Rise (mm)")
print("------------------------")

for year in range(1, num_years + 1):
    ocean_rise = year * ocean_rise_rate
    print(f"{year:2}       {ocean_rise:.2f}")

Year    Ocean Rise (mm)
------------------------
 1       1.60
 2       3.20
 3       4.80
 4       6.40
 5       8.00
 6       9.60
 7       11.20
 8       12.80
 9       14.40
10       16.00
11       17.60
12       19.20
13       20.80
14       22.40
15       24.00
16       25.60
17       27.20
18       28.80
19       30.40
20       32.00
21       33.60
22       35.20
23       36.80
24       38.40
25       40.00

In [22]:
tuition = 8000
annual_increase = 0.03

print("Year   Tuition")
print("----------------")

for year in range(1, 6):
    tuition += tuition * annual_increase
    print(f"{year:2}    ${tuition:.2f}")

Year   Tuition
----------------
 1    $8240.00
 2    $8487.20
 3    $8741.82
 4    $9004.07
 5    $9274.19

In [23]:
desirable_sleep = 8
total_sleep = 0

for day in range(1, 8):
    hours_slept = float(input(f"Enter hours slept on day {day}: "))
    total_sleep += hours_slept

sleep_debt = total_sleep - (desirable_sleep * 7)

if sleep_debt > 0:
    print(f"Sleep Debt: {sleep_debt:.2f} hours")
else:
    print("No sleep debt. Jealous!")

Enter hours slept on day 1: 4
Enter hours slept on day 2: 8
Enter hours slept on day 3: 6
Enter hours slept on day 4: 9
Enter hours slept on day 5: 8
Enter hours slept on day 6: 10
Enter hours slept on day 7: 2
No sleep debt. Jealous!

In [24]:
n = int(input("Enter a nonnegative integer: "))
factorial = 1

for i in range(1, n + 1):
    factorial *= i

print(f"The factorial of {n} is {factorial}")

Enter a nonnegative integer: 4
The factorial of 4 is 24

In [25]:
starting_organisms = int(input("Enter starting number of organisms: "))
daily_increase_percentage = float(input("Enter average daily increase percentage: "))
num_days = int(input("Enter number of days to multiply: "))

print("Day   Approximate Population")

for day in range(1, num_days + 1):
    population = starting_organisms * (1 + daily_increase_percentage / 100) ** day
    print(f"{day:2}    {population:.5f}")

Enter starting number of organisms: 2
Enter average daily increase percentage: 30
Enter number of days to multiply: 10
Day   Approximate Population
 1    2.60000
 2    3.38000
 3    4.39400
 4    5.71220
 5    7.42586
 6    9.65362
 7    12.54970
 8    16.31461
 9    21.20900
10    27.57170

In [26]:
for i in range(7, 0, -1):
    for j in range(i):
        print('*', end='')
    print()

*******
******
*****
****
***
**
*

In [27]:
for i in range(6):
    print('#', end='')
    for j in range(i):
        print(' ', end='')
    print('#')

##
# #
#  #
#   #
#    #
#     #

# CHAPTER 5

## Algorithm workbench

In [30]:
def shout(shout_text):
    shout_text = str(input("Enter your text: "))
    return shout_text.upper() +"!"
shout("")

Enter your text: hi

'HI!'

In [31]:
def show_value(quantity):
    quantity= int(12)
    return quantity
show_value("")

12

In [33]:
def my_function(a=3, b=2, c=1):
    return (b, a, c)
my_function()

def main():
 x = 1
 y = 3.4
 print(x, y)
 change_us(x, y)
 print(x, y)
def change_us(a, b):
 a = 0
 b = 0
 print(a, b)
main()

def my_function(x, y):
    return x[y] 
my_function("testing", 2)

1 3.4
0 0
1 3.4

's'

In [34]:
import random
rand = random.randint(1,100)
print(rand)

95

In [35]:
def half(number):
    result = number/2
    return result
half(14)

def half(number):
    result = number/2
    return result
result = half(14)
print(result)

7.0

In [36]:
def cube(num): 
    return num * num * num
result = cube(4)
print(result)

64

In [37]:
def times_ten(num):
    return num * 10
result = times_ten(3)
print(result)

30

In [38]:
def is_valid_length(string, num):
    sum = 0
    for ch in string:
        sum +=1
    if (sum> num):
        return False
    else: 
        return True
is_valid_length("gigabyte", 7)

False

## programming exercises

In [39]:
def calc_miles(kilometers):
    miles = kilometers * 0.6214
    return miles
kilometers = float(input("Enter a distance in kilometers: "))
miles = calc_miles(kilometers)
print("The distance in miles is:", miles)

Enter a distance in kilometers: 12
The distance in miles is: 7.456799999999999

In [40]:
def repeat(text, num):
    newtext = text*num
    return newtext
text = input("Enter a string to be repeated: ")
num = int(input("Enter the number of times for the string to be repeated: "))
newtext = repeat(text, num)
print(f"{text} repeated {num} times is {newtext}.")

Enter a string to be repeated: gift
Enter the number of times for the string to be repeated: 4
gift repeated 4 times is giftgiftgiftgift.

In [41]:
def insurance(repamount):
    insurance = 0.8 * repamount
    return insurance
amount = int(input("Enter the replacement cost of the building: "))
insurance = insurance(amount)
print(f"The minimum insurance for the building is ${insurance}.")

Enter the replacement cost of the building: 25000
The minimum insurance for the building is $20000.0.

In [42]:
def annualcost(mcost):
    return mcost * 12
loanpay = float(input("Enter the monthly loan payment: "))
insurance = float(input("Enter the monthly insurance cost: "))
gas = float(input("Enter the monthly gas cost: "))
oil = float(input("Enter the monthly oil cost: "))
tires = float(input("Enter the monthly tires cost: "))
maintenance = float(input("Enter the monthly maintenance cost: "))

total_mcost = loanpay + insurance + gas + oil + tires + maintenance
total_annualcost = annualcost(total_mcost)
print("Total monthly cost of automobile expenses: $", total_mcost)
print("Total annual cost of automobile expenses: $", total_annualcost)

Enter the monthly loan payment: 2000
Enter the monthly insurance cost: 3000
Enter the monthly gas cost: 4000
Enter the monthly oil cost: 3000
Enter the monthly tires cost: 4000
Enter the monthly maintenance cost: 10000
Total monthly cost of automobile expenses: $ 26000.0
Total annual cost of automobile expenses: $ 312000.0

In [43]:
def calc_assessval(value):
    assessval= value *0.6
    return assessval
def calc_proptax(assessval):
    proptax = assessval * (0.72 / 100)
    return proptax
value = float(input("Enter the actual value of the property: "))
assessment_value = calc_assessval(value)
property_tax = calc_proptax(assessment_value)
print(f"The assessment value of the property is ${assessment_value}.")
print(f"The property tax of the property valued at ${assessment_value} is ${property_tax}.")

Enter the actual value of the property: 2000
The assessment value of the property is $1200.0.
The property tax of the property valued at $1200.0 is $8.64.

In [44]:
def calc_caloriesfat(fat_g):
    calfromfat = fat_g *9
    return calfromfat
def calc_caloriescarbs(carbs_g):
    calfromcarbs = carbs_g * 4
    return calfromcarbs

fat_g = float(input("Enter the amount of fat consumed today: "))
carbs_g = float(input("Enter the amount of carbs consumed today: "))

caloriesfat = calc_caloriesfat(fat_g)
caloriescarbs = calc_caloriescarbs(carbs_g)
print(f"The amount of calories from fat is {caloriesfat}.")
print(f"The amount of calories from carbs is {caloriescarbs}.")

Enter the amount of fat consumed today: 20
Enter the amount of carbs consumed today: 10
The amount of calories from fat is 180.0.
The amount of calories from carbs is 40.0.

In [45]:
def calc_ticketincome(classA, classB, classC):
    total = (classA * 20) + (classB * 15) +(classC * 10)
    return total
classA = int(input("Enter the amount of Class A tickets sold: "))
classB = int(input("Enter the amount of Class B tickets sold: "))
classC = int(input("Enter the amount of Class C tickets sold: "))
total = calc_ticketincome(classA, classB, classC)
print(f"The total income generated from the tickets sold is ${total}.")

Enter the amount of Class A tickets sold: 200
Enter the amount of Class B tickets sold: 189
Enter the amount of Class C tickets sold: 23
The total income generated from the tickets sold is $7065.

In [46]:
def calc_gallonspaint(wallspace):
    gallonspaint = wallspace / 112
    return gallonspaint
wallspace = int(input("Enter the square foot of wall space to be painted: "))
paintprice = int(input("Enter the price of the paint per gallon: "))

gallonspaint = calc_gallonspaint(wallspace)
labour = gallonspaint * 8
labourcharges = labour * 35
paintcost = paintprice* gallonspaint
totalcost = labourcharges + paintcost
print(f"The number of paint gallons required is {gallonspaint:.2f}.")
print(f"The hours of labour required is {labour:.2f}.")
print(f"The cost of paint  is {paintcost:.2f}.")
print(f"The labour charges is {labourcharges:.2f}.")
print(f"The total cost of the paint job is {totalcost:.2f}.")

Enter the square foot of wall space to be painted: 23
Enter the price of the paint per gallon: 100
The number of paint gallons required is 0.21.
The hours of labour required is 1.64.
The cost of paint  is 20.54.
The labour charges is 57.50.
The total cost of the paint job is 78.04.

In [47]:
def calc_statetax(totalsales):
    statetax = totalsales * 0.05
    return statetax
def calc_countrytax(totalsales):
    countrytax = totalsales * 0.025
    return countrytax
totalsales= int(input("Enter the total sales of the month: "))
countrytax = calc_countrytax(totalsales)
statetax = calc_statetax(totalsales)
totaltax = countrytax + statetax
print(f"The country sales tax is ${countrytax}.")
print(f"The state sales tax is ${statetax}.")
print(f"The total sales tax is ${totaltax}.")

Enter the total sales of the month: 2900
The country sales tax is $72.5.
The state sales tax is $145.0.
The total sales tax is $217.5.

In [48]:
def feet_to_inches(feet):
    inches = feet * 12
    return inches
feet= int(input("Enter the number of feet: "))
inches = feet_to_inches(feet)
print(f"There are {inches} inches in {feet} feet.")

Enter the number of feet: 23
There are 276 inches in 23 feet.

In [49]:
import random
def generate_addition_tests(num_tests):
    for i in range(1, num_tests + 1):
        num1 = random.randint(1, 10)
        num2 = random.randint(1, 10)
        print(f"Question {i}")
        print(f"{num1} + {num2} = _____")
        print()
generate_addition_tests(5)

Question 1
2 + 3 = _____

Question 2
1 + 5 = _____

Question 3
10 + 2 = _____

Question 4
6 + 5 = _____

Question 5
3 + 4 = _____

In [50]:
def calc_max(num1, num2):
    if num1> num2:
        return num1
    else:
        return num2
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
maximum = calc_max(num1, num2)
print(f"The larger number is {maximum}.")

Enter a number:23
Enter a number:24
The larger number is 24.

In [52]:
def falling_distance(time):
    distance= 0.5 * 9.8 * time * time
    return distance
for time in range(1, 11):
    distance = falling_distance(time)
    print(f"The object has fallen {distance:.2f} meters in {time} seconds.")

The object has fallen 4.90 meters in 1 seconds.
The object has fallen 19.60 meters in 2 seconds.
The object has fallen 44.10 meters in 3 seconds.
The object has fallen 78.40 meters in 4 seconds.
The object has fallen 122.50 meters in 5 seconds.
The object has fallen 176.40 meters in 6 seconds.
The object has fallen 240.10 meters in 7 seconds.
The object has fallen 313.60 meters in 8 seconds.
The object has fallen 396.90 meters in 9 seconds.
The object has fallen 490.00 meters in 10 seconds.

In [53]:
def kinetic_energy(mass, velocity):
    KE = 0.5 * mass * (velocity ** 2)
    return KE
mass = float(input("Enter the objects mass: "))
velocity = float(input("Enter the objects velocity: "))
KE = kinetic_energy(mass, velocity)
print(f"The object has a kinetic energy of {KE:.2f} Joules.")

Enter the objects mass: 89
Enter the objects velocity: 4
The object has a kinetic energy of 712.00 Joules.

In [55]:
def calc_average(scores):
    total =sum(scores)
    average = total/ len(scores)
    return average
def determine_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'
scores = []
for i in range(5):
    score = float(input(f"Enter test score {i+1}: "))
    scores.append(score)
average_score = calc_average(scores)
print("Letter grades:")
for score in scores:
    grade = determine_grade(score)
    print(f"Score: {score} - Grade: {grade}")
print(f"Average score: {average_score}")

Enter test score 1: 12
Enter test score 2: 13
Enter test score 3: 45
Enter test score 4: 67
Enter test score 5: 89
Letter grades:
Score: 12.0 - Grade: F
Score: 13.0 - Grade: F
Score: 45.0 - Grade: F
Score: 67.0 - Grade: D
Score: 89.0 - Grade: B
Average score: 45.2

In [56]:
import random
even_count = 0
odd_count = 0
for _ in range(100):
    random_number = random.randint(1, 100)
    if random_number % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 52
Number of odd numbers: 48

In [59]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
user_input = int(input("Enter a number: "))
if is_prime(user_input):
    print(f"The number {user_input} is prime.")
else:
    print(f"The number {user_input} is not prime.")

Enter a number: 56
The number 56 is not prime.

In [58]:

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
print("The prime numbers between 1 and 100 are:")
for num in range(1, 101):
    if is_prime(num):
        print(num)

The prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [60]:
def calc_monthlypayment(A, R, M):
    Rdec= R /100
    D = (1+Rdec)**-M
    P= (Rdec * A)/(1-D)
    return P
loanamount = float(input("Enter the loan amount: "))
monthlyinterest = float(input("Enter the monthly interest rate as a percentage: "))
months = float(input("Enter the desired number of months: "))
monthlypayment = calc_monthlypayment(loanamount, monthlyinterest, months)
print(f"The monthly payment requires is {monthlypayment:.2f}.")

Enter the loan amount: 19000
Enter the monthly interest rate as a percentage: 3
Enter the desidered number of months: 14
The monthly payment requires is 1682.00.

In [ ]:
import random
def play_guessing_game():
    random_number = random.randint(1, 100)
    num_guesses = 0

    while True:
        guess = int(input("Guess the number (between 1 and 100): "))
        num_guesses += 1

        if guess > random_number:
            print("Too high, try again.")
        elif guess < random_number:
            print("Too low, try again.")
        else:
            print("Congratulations! You guessed the number!")
            print("Number of guesses:", num_guesses)
            break

    print("Generating a new random number...")
    play_guessing_game()

# Start the game
play_guessing_game()

In [ ]:
import random

def play_rock_paper_scissors():
    choices = ["rock", "paper", "scissors"]
    computer_choice = random.choice(choices)

    print("Rock, Paper, Scissors")
    print("---------------------")
    print("1. Rock")
    print("2. Paper")
    print("3. Scissors")
    print("---------------------")

    user_choice = int(input("Enter your choice (1-3): "))
    user_choice -= 1  # Adjusting index to match the choices list

    if user_choice < 0 or user_choice >= len(choices):
        print("Invalid choice. Please try again.")
        play_rock_paper_scissors()

    print("Your choice:", choices[user_choice])
    print("Computer's choice:", computer_choice)

    if user_choice == choices.index(computer_choice):
        print("It's a tie! Play again.")
        play_rock_paper_scissors()
    elif (user_choice == 0 and choices.index(computer_choice) == 2) or \
         (user_choice == 1 and choices.index(computer_choice) == 0) or \
         (user_choice == 2 and choices.index(computer_choice) == 1):
        print("Congratulations! You win!")
    else:
        print("Computer wins. Better luck next time.")

    play_again = input("Do you want to play again? (yes/no): ")
    if play_again.lower() == "yes":
        play_rock_paper_scissors()
    else:
        print("Thank you for playing.")
play_rock_paper_scissors()

Rock, Paper, Scissors
---------------------
1. Rock
2. Paper
3. Scissors
---------------------
Enter your choice (1-3): 2
Your choice: paper
Computer's choice: paper
It's a tie! Play again.
Rock, Paper, Scissors
---------------------
1. Rock
2. Paper
3. Scissors
---------------------

# CHAPTER 7

In [63]:
a = list(range(1, 101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [1]:
names = ["David","Chibuihe","Bolu","Sammy","Frankie","Tega","Tammy"]
for i in names:
    print(i)

David
Chibuihe
Bolu
Sammy
Frankie
Tega
Tammy

In [2]:
import random
scores = [random.randint(0, 100) for _ in range(10)]
scores.sort()
sorted_list = scores.copy()  
scores.reverse()
reversed_list = scores.copy()  
print(f"The sorted list is: {sorted_list}")
print(f"The reversed list is: {reversed_list}")
if scores:  
    max_value = max(scores)
    print(f"The maximum value is: {max_value}")
else:
    print("The list is empty.")

The sorted list is: [9, 28, 29, 39, 47, 49, 53, 69, 86, 94]
The reversed list is: [94, 86, 69, 53, 49, 47, 39, 29, 28, 9]
The maximum value is: 94

In [3]:
def get_values(number):
    total = 0
    for i in number:
        total += i
    return total
def main():
    numbers = []
    no_of_values = int(input("Enter the number of values you want to enter"))
    for i in range(no_of_values):
        user_input = int(input(f"Enter the set of numbers{i+1}"))
        numbers.append(user_input)
    total2 = get_values(numbers)
    print("The total values is",total2)
main()

Enter the number of values you want to enter4
Enter the set of numbers1123
Enter the set of numbers2234
Enter the set of numbers3456
Enter the set of numbers44567
The total values is 5380

In [4]:
names = ["Ruby","Faith", "Oseaghe", "Emateyi"]
if "Ruby" in names:
    print("Hello Ruby")
else:
    print("No Ruby")

Hello Ruby

In [5]:
list1 = [1,2]*2
list2 =  [3]
list2 += list1
print(list2)

[3, 1, 2, 1, 2]

In [6]:
ROWS = 5
COLS = 3
my_list = []
for r in range(ROWS):
    my_list.append([0] * COLS)
for i in range(ROWS):
    for j in range(COLS):
        user_value = int(input(f"Enter a value for element ({i + 1}, {j + 1}): "))
        my_list[i][j] = user_value

print(my_list)

Enter a value for element (1, 1): 12
Enter a value for element (1, 2): 21
Enter a value for element (1, 3): 23
Enter a value for element (2, 1): 11
Enter a value for element (2, 2): 22
Enter a value for element (2, 3): 13
Enter a value for element (3, 1): 14
Enter a value for element (3, 2): 13
Enter a value for element (3, 3): 11
Enter a value for element (4, 1): 1
Enter a value for element (4, 2): 1
Enter a value for element (4, 3): 1
Enter a value for element (5, 1): 1
Enter a value for element (5, 2): 1
Enter a value for element (5, 3): 1
[[12, 21, 23], [11, 22, 13], [14, 13, 11], [1, 1, 1], [1, 1, 1]]

## Programming Exercises

In [7]:
numbers = [74, 19, 105, 20, -2, 67, 77, 124, -45, 38]
valid_numbers = []
for i in numbers:
    if  0 <= i <= 100:
        valid_numbers.append(i)
print(valid_numbers)
total = 0
for i in valid_numbers:
    total += i
print(total)
average = total/(len(valid_numbers))
print(f"the average is {average}")

[74, 19, 20, 67, 77, 38]
295
the average is 49.166666666666664

In [8]:
import random
random_list = []
for i in range(7):
    random_number = random.randint(0,9)
    random_list.append(random_number)
print(random_list)

[2, 8, 9, 9, 4, 4, 5]

In [9]:
rainfall = []
for i in range(12):
    user = float(input(f"Enter the rainfall for month {i+1}"))
    rainfall.append(user)
total = sum(rainfall)
average = total/len(rainfall)
for i in rainfall:
    maximum = rainfall.index(max(rainfall))
print(f"The maximum rainfall occured in month {maximum}")

Enter the rainfall for month 12
Enter the rainfall for month 23
Enter the rainfall for month 34
Enter the rainfall for month 45
Enter the rainfall for month 56
Enter the rainfall for month 67
Enter the rainfall for month 710
Enter the rainfall for month 823
Enter the rainfall for month 912
Enter the rainfall for month 1011
Enter the rainfall for month 1123
Enter the rainfall for month 1211
The maximum rainfall occured in month 7

In [11]:
import math
numbers = []
total = 0
for i in range(20):
    user_input = int(input(f"Enter the series of number {i+1}: "))
    numbers.append(user_input)
    total += user_input


maximum = max(numbers)
lowest = min(numbers)
average = total/20
print(f"\nThe lowest number in the list is {lowest}")
print(f"The highest number in the list is {maximum}")
print(f"The total of the number in the list is {total}")
print(f"The average of the number in the list is {average}")

Enter the series of number 1: 123
Enter the series of number 2: 12
Enter the series of number 3: 234
Enter the series of number 4: 123
Enter the series of number 5: 123
Enter the series of number 6: 111
Enter the series of number 7: 222
Enter the series of number 8: 333
Enter the series of number 9: 45667
Enter the series of number 10: 123
Enter the series of number 11: 123
Enter the series of number 12: 3456
Enter the series of number 13: 6789
Enter the series of number 14: 340
Enter the series of number 15: 234
Enter the series of number 16: 123
Enter the series of number 17: 678
Enter the series of number 18: 7890
Enter the series of number 19: 23456
Enter the series of number 20: 1236

The lowest number in the list is 12
The highest number in the list is 45667
The total of the number in the list is 91396
The average of the number in the list is 4569.8

In [12]:
def grade_exam(correct_answers, student_answers):
    correct_count = 0
    incorrect_count = 0
    incorrect_questions = []

    for i in range(len(correct_answers)):
        if student_answers[i].upper() == correct_answers[i]:
            correct_count += 1
        else:
            incorrect_count += 1
            incorrect_questions.append(i + 1)

    print("1. Total correctly answered questions:", correct_count)
    print("2. Total incorrectly answered questions:", incorrect_count)
    print("3. List of incorrectly answered questions:", incorrect_questions)

    if correct_count >= 15:
        print("4. Result: Passed")
    else:
        print("4. Result: Failed")

correct_answers = ["A", "C", "D", "A", "D", "B", "D", "A", "C", "B", "A", "D", "C", "A", "D", "C", "B", "B", "D", "A"]

student_answers = []
for i in range(20):
    answer = input(f"Enter your answer for question {i+1}: ")
    student_answers.append(answer)

grade_exam(correct_answers, student_answers)

Enter your answer for question 1: a
Enter your answer for question 2: b
Enter your answer for question 3: c
Enter your answer for question 4: a
Enter your answer for question 5: b
Enter your answer for question 6: c
Enter your answer for question 7: d
Enter your answer for question 8: d
Enter your answer for question 9: a
Enter your answer for question 10: d
Enter your answer for question 11: a
Enter your answer for question 12: a
Enter your answer for question 13: a
Enter your answer for question 14: a
Enter your answer for question 15: b
Enter your answer for question 16: b
Enter your answer for question 17: c
Enter your answer for question 18: d
Enter your answer for question 19: d
Enter your answer for question 20: a
1. Total correctly answered questions: 7
2. Total incorrectly answered questions: 13
3. List of incorrectly answered questions: [2, 3, 5, 6, 8, 9, 10, 12, 13, 15, 16, 17, 18]
4. Result: Failed

In [1]:
def isLoShuMagicSquare(grid):
    list = []
    for i in range(3):
        sumrow = 0
        sumcol = 0
        for j in range(3):
            if 1<=grid[i][j]<=9:
                sumrow += grid[i][j]
                sumcol += grid[j][i]
            else:
                print("This is not a Lo Shu Magic Square")
                return
        list.append(sumrow)
        list.append(sumcol)
    diagonal1 = grid[0][0] + grid[1][1] + grid[2][2]
    diagonal2 = grid[0][2] + grid[1][1] + grid[2][0]
    list.append(diagonal1)
    list.append(diagonal2)
    for i in range(1, len(list)):
        if list[0] == list[i]:
            if i == len(list) - 1:
                print("This is a Lo Shu Magic Square")
                return
            continue
        else:
            print("This is not a Lo Shu Magic Square")
            return


grid = [[4,9,2],
        [3,5,7],
        [8,1,6]] 
isLoShuMagicSquare(grid)

This is a Lo Shu Magic Square